.vscode
*.pyc
*.secret
intelligenttrading-datastore.json
.idea/
*credentials.json

itt-local-bot/node_modules/*
node_modules/*
commands/coins.js
commands/ema.js
commands/exchange.js
commands/poloniex.js

.gcloud/keyfile.json

.serverless/*

config.js

config/.env

*.env
